@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background-color: #020617;
  /* gray-950 */
}

@keyframes bell-shake {
  0% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(10deg);
  }

  45% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(6deg);
  }

  75% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0);
  }
}

.animate-bell {
  animation: bell-shake 0.6s ease-in-out;
}

.animate-bell:hover {
  animation: bell-shake 0.6s ease-in-out;
}